html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* custom properties */
:root {
  --ff-one: "Source Sans Pro", sans-serif;
  --ff-two: "Shadows Into Light Two", cursive;
  --ff-three: "Chilanka", cursive;
  --ff-four: "Encode Sans Semi Condensed", sans-serif;
  --ff-five: "Just Me Again Down Here", cursive;
  --ff-six: "Amatic SC", cursive;
  --ff-seven: "Satisfy", cursive;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: rgb(52, 67, 215);
  --clr-dark: #1f1f1f;
  --clr-accent: grey;
  --clr-main: rgb(249, 249, 249);

  --fs-h1: 9vw;
  --fs-h2: 2.25rem;
  --fs-h5: 2.5vw;
  --fs-body: 1rem;
  --fs-nav: 1.2vw;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html {
  scroll-behavior: smooth;
}
h1 {
  font-size: var(--fs-h1);
  font-family: var(--ff-six);
}
h5 {
  font-size: var(--fs-h5);
  font-family: var(--ff-six);
}
h2 {
  font-size: var(--fs-h2);
  font-family: var(--ff-six);
  text-align: center;
  margin: 2px;
}
h2 a {
  text-decoration: none;
  color: var(--clr-dark);
}
h2 a:hover {
  text-decoration: var(--clr-light) underline;
}
body {
  color: var(--clr-dark);
  background-color: var(--clr-main);
  overflow-x: hidden;
}
/* header/ Navigations (hamburger menu) */
header ul {
  font-family: var(--ff-four);
  font-size: var(--fs-nav);
  text-align: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
header ul li {
  display: inline-block;
  margin-right: 20px;
}
header ul li a {
  float: right;
  padding: 14px 16px;
  text-decoration: none;
  color: var(--clr-accent);
}
.nav__link:hover {
  text-decoration: underline;
  color: var(--clr-light);
}
/* Top/Start */
.top {
  display: flex;
  margin-left: 1%;
  padding: 1em;
}
.toppage {
  flex-grow: 1;
  font-size: var(--fs-h1);
}
.toppage + .toppage {
  margin-left: 2%;
}
@media screen and (min-width: 1020px) {
  h1 {
    font-size: 2vw;
  }
  h5 {
    font-size: 2vw;
    margin-left: 12.5%;
    padding: 15px;
    text-decoration: underline;
  }
}

/* Intro section */
.intro {
  background-color: inherit;
  margin-bottom: 5em;
}
img {
  max-width: 295px;
  max-height: 166px;
  margin-left: 39%;
  margin-top: 2px;
}

/* projects */
.wrapper {
  max-width: 100%;
  margin-left: 2%;
  margin-right: 2%;
}
.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.column {
  width: 32%;
  margin-bottom: 5%;
}
.ptitle {
  margin-left: 2%;
}

@media screen and (max-width: 767px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .columns {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 680px) {
  .wrapper {
    display: flex;
  }
  .columns {
    display: flex;
    flex-direction: column;
  }
  .column {
    width: 100%;
  }
  img {
    max-width: 295px;
    max-height: 166px;
    margin-left: 30%;
  }
  h5 {
    font-size: 7vw;
    margin-left: 0%;
    padding: 15px;
    text-decoration: underline;
  }
}

/* Nav Bar */
button {
  visibility: hidden;
}
@media screen and (max-width: 500px) {
  button {
    visibility: visible;
  }
  .nav {
    position: fixed;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  }
  .nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: 10em;
    text-decoration: none;
  }
  .nav__link:hover {
    color: var(--clr-accent);
  }
  .nav-toggle {
    padding: 0.5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
  }
  .nav-open .nav {
    transform: translateX(0);
  }
  .nav-open .nav-toggle {
    position: fixed;
  }
  .nav-open .hamburger {
    transform: rotate(0.625turn);
  }
  .nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
  }
  .nav-open .hamburger::after {
    opacity: 0;
  }
  .hamburger {
    display: block;
    position: relative;
  }
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    background: grey;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
  }
  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
  }
  .hamburger::before {
    top: 6px;
  }
  .hamburger::after {
    bottom: 6px;
  }
}

/* notes */

.notes {
  font-family: var(--ff-one);
  font-size: 1.5em;
  margin-top: 3%;
  margin-left: 5%;
}
.noted {
  font-family: var(--ff-one);
  font-size: 1.5em;
  margin-bottom: 0;
  margin-left: 5%;
}
